useDynLib(GeCKO, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
import(data.table)
importFrom(Biostrings, DNAString, reverseComplement)
importFrom(fst, read_fst)
importFrom(stringr, str_extract)